@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:ital,wght@0,100;0,200;0,400;0,700;1,100;1,700&display=swap');

.code,
code:not(pre code) {
  padding: 0 0.25rem;
  background: #eee;
  border-radius: 3px;
  margin-right: 0.5rem;
  font-family: monospace;
  display: inline-block;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  line-height: 2.35rem;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #06395a;
  border-top: 10px solid #06395a;
  padding-top: 2rem;
  font-family: 'Lato', sans-serif;
  background: #f4f7fb;
}
